<!DOCTYPE html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/header.css" />
  </head>
  <body>
    <%- include('header') %> <%- include('nav') %>
    <p>
      We are a new and innovative company providing high quality flowers<br />and
      a unique delivery service that lets you choose when your flowers<br />are
      delivered.
    </p>
  </body>
</html>
