<!DOCTYPE html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/header.css" />
  </head>
  <body>
    <%- include('header') %> <%- include('nav') %>
    <h1>Ecuadorian Flowers Selection</h1>
  </body>
  <%- include('footer') %>
</html>
