<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQs <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/header.css" />
    <link rel="stylesheet" type="text/css" href="/faqterm.css" />
    <script
      src="https://kit.fontawesome.com/8868674f05.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('header') %> <%- include('nav') %>

    <div class="faq-container">
      <h2>FAQs</h2>

      <h3>Where is my delivery?</h3>
      <p>
        When you placed your order, you will have received a tracking email.
        Simply click on the link within this email to track your order.
      </p>
      <h3>Where can you deliver to?</h3>
      <p>
        We can deliver flowers, plants and greetings cards to any postal address
        in England, Wales, Scotland (including all highlands and islands),
        Northern Ireland, the Channel Islands, Isle of Man, Orkney and Shetland.
      </p>
      <h3>How much does delivery cost?</h3>
      <p>
        All our flower gifts are sent by Royal Mail Tracked 24 or an equivalent
        service for £3.49. You can choose to upgrade to courier delivery which
        will guarantee delivery on the day of your choice for £5.99.
      </p>
      <h3>Website Issues</h3>
      <p>
        I am having website issues We're so sorry that you've had trouble with
        our website.
      </p>
      <h4>Top tips for resolving any issues before getting in touch:</h4>
      <ul class="webI">
        <li>Make sure your internet is connected.</li>
        <li>
          Make sure all fields in the ordering form are completed (if they are
          not you may see some red error messages).
        </li>
        <li>
          Try refreshing the page using Ctrl + Shift + R on Windows and Command
          + Shift + R on Mac.
        </li>
        <li>
          Try using a different browser or device. Make sure that your browser
          is updated to the latest version.
        </li>
      </ul>
      <p>
        If you are still having trouble, please email us at
        flowersecu@gmail.co.uk and include screenshots and as much detail on the
        issue as possible so that we can help you as quickly as possible.
      </p>
    </div>
  </body>
  <%- include('footer') %>
</html>
