<footer>
  <div class="footer-content">
    <div class="footer-line">
      <a href="/faq">FAQ</a>
      <a href="/terms">Terms and Conditions</a>
      <a href="/privacy">Privacy Policy</a>
    </div>
    <span>Follow us:</span>
    <div class="footer-line">
      <a href="flowersecu@gmail.com">
        <i class="fas fa-envelope" style="color: #43d15b"></i>
      </a>
      <a href="https://www.facebook.com" target="_blank"
        ><i class="fab fa-facebook" style="color: #1877f2"></i
      ></a>
      <a href="https://www.youtube.com" target="_blank"
        ><i class="fab fa-youtube-square" style="color: #e70d0d"></i
      ></a>
      <a href="https://www.instagram.com" target="_blank"
        ><i class="fab fa-instagram" style="color: #ff255c"></i
      ></a>
      <a href="https://www.pinterest.com" target="_blank"
        ><i class="fab fa-pinterest" style="color: #bd081c"></i
      ></a>
    </div>
  </div>
</footer>
