<footer>
  <div class="footer-content">
    <a href="https://www.facebook.com" target="_blank">
      <i class="fab fa-facebook" style="color: #1877f2"></i>
    </a>
    <a href="https://www.youtube.com" target="_blank">
      <i class="fab fa-youtube-square" style="color: #e70d0d"></i>
    </a>
    <a href="https://www.instagram.com" target="_blank">
      <i class="fab fa-instagram" style="color: #ff255c"></i>
    </a>

    <a href="https://www.pinterest.com" target="_blank">
      <i class="fab fa-pinterest" style="color: #bd081c"></i>
    </a>
  </div>
</footer>
