<header>
  <div class="header-content">
    <h1 class="shop_name"><%= shopName %></h1>
    <h3>Blooms Beyond Borders - Ecuador's Finest Roses</h3>
    <a href="/" class="logo left">
      <img src="/images/Floral.png" alt="shop logo" />
    </a>
  </div>
</header>
