<header>
  <div class="header-content">
    <a href="/" class="logo left">
      <img src="/images/Floral.png" alt="shop logo" />
    </a>
    <h1 class="shop_name"><%= shopName %></h1>
    <a href="/" class="logo rigth">
      <img src="/images/Floral.png" alt="shop logo" />
    </a>
  </div>
</header>
