<header>
  <div class="header-content">
    <a href="/" class="logo">
      <img src="/images/Floral.png" alt="shop logo" />
    </a>
    <h1 class="shop_name"><%= shopName %></h1>
  </div>
</header>
<footer></footer>
