<!DOCTYPE html>
<html>
  <head>
    <title><%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/header.css" />
  </head>
  <body>
    <%- include('header') %> <%- include('nav') %>

    <div class="gallery-container">
      <figure class="gallery__item">
        <a href="/ecuaflor">
          <img
            src="/images/red-roses.jpg"
            alt="ecuaflor"
            class="gallery__img"
          />
          <figcaption>
            <h2>Ecuadorian Flowers</h2>
          </figcaption></a
        >
      </figure>
      <figure class="gallery__item">
        <a href="/tulip">
          <img src="/images/tulipan.jpeg" alt="tulip" class="gallery__img" />
          <figcaption>
            <h2>Tulips</h2>
          </figcaption>
        </a>
      </figure>
      <figure class="gallery__item">
        <a href="/bouquet">
          <img src="/images/bouquets.jpeg" alt="bouquet" class="gallery__img" />
          <figcaption>
            <h2>Bouquets</h2>
          </figcaption>
        </a>
      </figure>
      <figure class="gallery__item">
        <a href="/special">
          <img src="/images/spetial.jpg" alt="spetial" class="gallery__img" />
          <figcaption>
            <h2>Special Occasions</h2>
          </figcaption>
        </a>
      </figure>
      <figure class="gallery__item">
        <a href="/orchids">
          <img src="/images/orquidea.jpg" alt="orchid" class="gallery__img" />
          <figcaption>
            <h2>Orchids</h2>
          </figcaption></a
        >
      </figure>
      <figure class="gallery__item">
        <a href="/hydrangea">
          <img
            src="/images/hydrangea.jpg"
            alt="hydragea"
            class="gallery__img"
          />
          <figcaption>
            <h2>Hydrangea</h2>
          </figcaption></a
        >
      </figure>
    </div>
  </body>
  <%- include('footer') %>
</html>
