<nav>
  <ul>
    <li><a href="/dashboard">My Flowers</a></li>
    <li><a href="comments">Comments</a></li>
    <li><a href="add_comments">Add Comments</a></li>
    <li><a href="list">Offers</a></li>
    <li><a href="allflowers">All Flowers</a></li>
    <li><a href="basket">Basket</a></li>
    <li><a href="about">About Us</a></li>
  </ul>
  <p><a href="/login" class="loging-button">Login</a></p>
  <p><a href="/logout" class="logout-button">Logout</a></p>

  <form action="/search-result" method="GET" class="search-form">
    <input id="search-box" type="text" name="keyword" />
    <input type="submit" value="Search" id="search-btn" />
  </form>
</nav>
