<nav>
  <ul>
    <li><a href="about">About</a></li>
    <li><a href="list">Flowers</a></li>
    <li><a href="login">Login</a></li>
    <li><a href="register">Register</a></li>
  </ul>
  <form action="/search-result" method="GET" class="search-form">
    <input id="search-box" type="text" name="keyword" />
    <input type="submit" value="Search" id="search-btn" />
  </form>
</nav>
