<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/header.css" />
    <link rel="stylesheet" type="text/css" href="/faqterm.css" />
    <script
      src="https://kit.fontawesome.com/8868674f05.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('header') %> <%- include('nav') %>

    <div class="terms-container">
      <h2>Terms and Conditions</h2>

      <h3>Use of the Website</h3>
      <p>
        The content of the pages of this website is for your general information
        and use only. It is subject to change without notice.
      </p>
      <p>
        Neither we nor any third parties provide any warranty or guarantee as to
        the accuracy, timeliness, performance, completeness, or suitability of
        the information and materials found or offered on this website for any
        particular purpose. You acknowledge that such information and materials
        may contain inaccuracies or errors, and we expressly exclude liability
        for any such inaccuracies or errors to the fullest extent permitted by
        law.
      </p>
      <p>
        Your use of any information or materials on this website is entirely at
        your own risk, for which we shall not be liable. It shall be your own
        responsibility to ensure that any products, services, or information
        available through this website meet your specific requirements.
      </p>

      <h3>Intellectual Property</h3>
      <p>
        This website contains material that is owned by us or licensed to us.
        This material includes, but is not limited to, the design, layout, look,
        appearance, and graphics. Reproduction is prohibited except in
        accordance with the copyright notice, which forms part of these terms
        and conditions.
      </p>

      <h3>Limitation of Liability</h3>
      <p>
        Neither we nor any third parties shall be liable for any loss or damage,
        including but not limited to, indirect or consequential loss or damage,
        or any loss or damage whatsoever arising from loss of data or profits
        arising out of, or in connection with, the use of this website.
      </p>

      <h3>Modifications</h3>
      <p>
        We reserve the right, at our sole discretion, to modify or replace these
        terms and conditions at any time. If a revision is material, we will try
        to provide at least 30 days' notice prior to any new terms taking
        effect. What constitutes a material change will be determined at our
        sole discretion.
      </p>
    </div>

    <%- include('footer') %>
  </body>
</html>
