.basket-container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-x: auto;
}

.basket-container h1 {
  color: #6fca00;
}

.basket-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.basket-container th,
.basket-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.basket-container th {
  background-color: #eb2c0f;
  color: white;
}

.basket-container form {
  display: inline-block;
  vertical-align: top;
}

.basket-container form input[type="number"],
.basket-container form button {
  width: auto;
  padding: 6px 10px;
  font-size: 14px;
}

.basket-container form button[type="submit"] {
  margin-left: 5px;
}
@media only screen and (max-width: 600px) {
  .basket-container table {
    overflow-x: auto;
  }
}
/* shipping */

.shipping {
  margin-top: 20px;
  border: 2px solid #6fca00;
  border-radius: 8px;
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.shipping h3 {
  color: #6fca00;
}

.shipping label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.shipping input[type="text"],
.shipping textarea {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.shipping textarea {
  height: 100px;
}

.shoping_btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.shopping-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6fca00;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.shopping-btn:hover {
  background-color: #4e9a06;
}

/* Dasboard */

.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #80eb6d;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #80eb6d;
}

th {
  background-color: #d1f876;
}

tr:hover {
  background-color: #89a0fc;
}

.payment-success-message {
  color: green;
  font-weight: bold;
}

/* back-dash button */
.back-dash {
  text-align: center;
  margin-top: 20px;
}

.back-dash .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.back-dash .button:hover {
  background-color: #0056b3;
}
