header {
  background-color: #f4ffc48f;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: x-large;
}

.header-content {
  display: flex;
  align-items: center;
}
.logo img {
  max-height: 150px;
  width: auto;
}

.logo.left {
  margin-left: auto;
}

.logo.right {
  margin-right: auto;
}

h1 {
  margin: 0;
  flex-grow: 1;
}
nav {
  background-color: #f4ffc48f;
  color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  border-radius: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color: #757373;
  font-weight: bold;
}

nav a:hover {
  color: #d900ff;
}

.search-form {
  margin-top: 10px;
  text-align: right;
}

#search-box {
  background-color: rgb(154, 220, 250);
  padding: 5px;
  border-radius: 5px;
}

#search-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#search-btn:hover {
  background-color: #45a049;
}
/* footer */
footer {
  background-color: #f4ffc48f;
  color: black;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
