header {
  background-color: #f4ffc48f;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: x-large;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
.logo {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.logo img {
  max-height: 120px;
  width: auto;
  opacity: 0.8;
}

h1,
h3 {
  margin: 0;
}

nav {
  background-color: #f4ffc48f;
  color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  border-radius: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color: #757373;
  font-weight: bold;
}

nav a:hover {
  color: #d900ff;
}

.search-form {
  margin-top: 10px;
  text-align: right;
}

#search-box {
  background-color: rgb(196, 232, 249);
  padding: 5px;
  border-radius: 5px;
}

#search-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#search-btn:hover {
  background-color: #45a049;
}

/* comments and add_comments buttons */
.footer-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.add-comments-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.add-comments-button:hover {
  background-color: #45a049;
}

.comments-button {
  background-color: #008cba;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.comments-button:hover {
  background-color: #0077a8;
}

/* footer */

footer {
  background-color: #f4ffc48f;
  margin-top: 50px;
  padding: 10px 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content i {
  font-size: 40px;
  margin: 0 30px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.footer-content i:hover {
  transform: scale(1.1);
}
